<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dashboard Template for Bootstrap</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/dashboard.css}" rel="stylesheet">
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->



  <script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  <style type="text/css">
    /* Chart.js */

    @-webkit-keyframes chartjs-render-animation {
      from {
        opacity: 0.99
      }
      to {
        opacity: 1
      }
    }

    @keyframes chartjs-render-animation {
      from {
        opacity: 0.99
      }
      to {
        opacity: 1
      }
    }

    .chartjs-render-monitor {
      -webkit-animation: chartjs-render-animation 0.001s;
      animation: chartjs-render-animation 0.001s;
    }
  </style>
</head>
<body>
<div th:replace="~{commons/commons::topbar}"></div>

<div class="container-fluid">
  <div class="row">
    <div th:replace="~{commons/commons::sidebar(active='book.html')}"></div>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div th:if="${not #strings.isEmpty(msg)}" class="alert alert-warning alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="show">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>警告!</strong><span th:text="${msg}"></span>
      </div>
      <h2   style="text-align: center">添加书本</h2>
      <form th:action="@{'/admin/books/'+${page}+'/add/submit'}" method="post" enctype="multipart/form-data">

        <div class="form-group" style="width: 40%;margin-left: 30%" >
          <h3><span class="label label-default">书名</span></h3>
          <input type="text" class="form-control"   name="title">
        </div>

        <div class="form-group" style="width: 40%;margin-left: 30%" >
          <h3><span class="label label-default">作者</span></h3>
          <input type="text" class="form-control" name="author">
        </div>

        <div class="form-group" style="width: 40%;margin-left: 30%" >
          <h3><span class="label label-default">分类</span></h3>
        </div>
        <select class="form-control " style="width: 40%;margin-left: 30%;height: 35px" name="kindNumber">
          <option th:each="kind:${kinds}"
                  th:text="${kind.getKind()}"
                  th:value="${kind.getId()}">

          </option>

        </select>


        <div class="form-group" style="width: 40%;margin-left: 30%" >
          <h3><span class="label label-default">总数</span></h3>
          <input type="text" class="form-control"  name="number">
        </div>

        <div class="form-group" style="width: 40%;margin-left: 30%" >
          <h3><span class="label label-default">封面</span></h3>
          <input type="file" name="file">
        </div>

        <p style="text-align: center">
          <button type="submit" class="btn btn-info">提交</button>
        </p>

      </form>




    </main>
  </div>
</div>


</body>
<script>

  function hideOrIn (){
    $('#show').removeClass('hide').addClass('in').addClass('fade');

  }
</script>
</html>